<div class="container">
    <div class="sign-in">
        <div class="row justify-content-center">

            <div class="text-center">
                @if (act === 'sign-in'){
                    <h3>Sign In</h3>
                } @else {
                    <h3>Sign Up</h3>
                }
            </div>

            @if (error) {
                <ngb-alert type="danger" (closed)="close()">{{ error }}</ngb-alert>
            }

            <form class="col-md-12 col-lg-10" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <div class="form-group mb-3">
                    <label for="email">Email address</label>
                    <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Type...">
                    
                    <div class="form-text text-danger" id="basic-addon4">
                        @if (loginForm.get('email')?.errors?.['required']){
                            This field is required
                        } @else if (loginForm.get('email')?.errors?.['pattern']) {
                            Not a valid email.
                        }
                    </div>
                    
                </div>

                <div class="form-group mb-3">
                    <label for="password">Password</label>
                    <input formControlName="password" type="password" class="form-control" id="password" placeholder="Type...">
                    <div class="form-text text-danger" id="basic-addon4">
                        @if (loginForm.get('password')?.errors?.['required']){
                            This field is required.
                        } @else if (loginForm.get('password')?.errors?.['minlength']) {
                            Should have minimum length of 6 characters.
                        }
                    </div>
                    
                </div>

                @if(act === 'sign-in'){
                    <button type="submit" [disabled]="!isValid" class="btn btn-primary btn-block mb-4">Sign In</button>
                    <div class="text-center">
                        <p>Not a member? <a [routerLink]="['/auth/sign-up']">Register</a></p>
                    </div>
                } @else {
                    <button type="submit" [disabled]="!isValid" class="btn btn-success btn-block mb-4">Sign up</button>
                    <div class="text-center">
                        <p>Back to <a [routerLink]="['/auth/sign-in']">Sign In</a></p>
                    </div>
                }
            </form>
        </div>
    </div>
</div>
